canvas{
    background-color: black;
    box-shadow: rgba(0, 0, 0, 10) 0px 22px 200px 4px;
    margin: 2% auto;
    display: flex;
    justify-self: center;
}
img{
    display: none;
}
#scoreDiv{
    /* border: solid black; */
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 2em;
}
    #scoreNumber{
        color: red;
    }