canvas{
    background-color: black;
    box-shadow: rgba(0, 0, 0, 10) 0px 22px 200px 4px;
    margin: 2% auto;
    display: flex;
    justify-self: center;
}
img{
    display: none;
}
#scoreDiv{
    /* border: solid black; */
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 1.25em;
}
    #scoreNumber{
        color: red;
    }
#controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    margin-top: 1em;

}
    #controls>.cItem{
        padding: 0;
        margin: 0;
    }
#objective{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    margin-top: 1em;  
}
    #objective>.oItem{
        padding: 0;
        margin: 0; 
    }